html,
body {
	margin: 0;
	height: 100%;
}

#app {
	width: 100%;
	height: 100%;
	display: block;
}

.mainmenu {
	position: absolute;
	top: 0;
	left: 0;

	background-color: pink;

	width: 100%;
	height: 100%;

	z-index: 20;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ui-btn {
	text-decoration: none;
	position: relative;
	outline: none;

	color: white;
	text-align: center;
	font-size: 1.5rem;

	padding: 1rem 2rem;
	border-radius: 0.5rem;

	border: 2px solid oklch(95% 2% 240deg);
	background-color: oklch(20% 10% 240deg / 0.7);
}

.ui-btn:hover,
.ui-btn:focus {
	border: 0px;
	background-color: oklch(20% 10% 240deg);
}

@property --rotate {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

.ui-btn:hover::before,
.ui-btn:focus::before {
	content: "";
	position: absolute;
	z-index: -1;

	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	border-radius: inherit;
	margin: -2px;

	animation: rotate-gradient 2s linear infinite;
	background: linear-gradient(var(--rotate),
			oklch(0.7736 0.173503 65.0523),
			oklch(0.6891 0.175 245.42));
}

@keyframes rotate-gradient {
	from {
		--rotate: 0deg;
	}

	to {
		--rotate: 360deg;
	}
}
